.post {
  display: flex;
  max-width: 600px;
  border: 1px solid black;
  margin: 5px 0;
  border-radius: 5px;
}

.post > * {
  padding: 5px;
}

.post .avatar {
  width: 50px;
  height: 50px;
}

.post .avatar img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post .postData {
  width: 100%;
}

.post .postData .postMeta {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.post .postData .postMeta .author {
  font-weight: 700;
}

.post .postData .postContent {
  text-align: left;
  padding: 5px;
}

.post .postData .likes {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.post .deletePostBtn {
  background-color: brown;
}

.post .deletePostBtn:hover {
  background-color: red;
}

.deleteModal {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.modalBtnWrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.deleteModal .yes {
  background-color: green;
  width: 90px;
}

.deleteModal .no {
  background-color: red;
  width: 90px;
}
