* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

a {
  color: black;
}

.btn {
  background-color: #1dbf90;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background-color: #00538a;
}
